<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangxf.mapper.StudentMapper">

<!--    添加学生-->
    <insert id="addStudent">
        insert into student(name, no, gender, phone, id_card,
                            is_college, address, degree, graduation_date,
                            clazz_id, create_time, update_time)
        values(#{name}, #{no}, #{gender}, #{phone},
               #{idCard}, #{isCollege}, #{address},
               #{degree}, #{graduationDate}, #{clazzId},
               #{createTime}, #{updateTime})
    </insert>

<!--    根据id修改学生-->
    <update id="updateStudent">
        update student
            <set>
                <if test="name != null and name != ''">
                    name = #{name},
                </if>
                <if test="no != null and no != ''">
                    no = #{no},
                </if>
                <if test="phone != null and phone != ''">
                    phone  = #{phone},
                </if>
                <if test="gender != null">
                    gender = #{gender},
                </if>
                <if test="degree != null">
                    degree = #{degree},
                </if>
                <if test="idCard != null and idCard != ''">
                    id_card = #{idCard},
                </if>
                <if test="isCollege != null">
                    is_college = #{isCollege},
                </if>
                <if test="address != null">
                    address = #{address},
                </if>
                <if test="graduationDate != null">
                    graduation_date = #{graduationDate},
                </if>
                <if test="violationCount != null" >
                    violation_count = #{violationCount},
                </if>
                <if test="violationScore">
                    violation_score = #{violationScore},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime}
                </if>
            </set>
        where id = #{id}
    </update>
    
<!--    根据id批量删除学生-->
    <delete id="deleteStudentById">
        delete from student where id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
    </delete>


    <!--    学生分页查询-->
    <select id="getStudent" resultType="com.zhangxf.pojo.Student">
        select st.*, c.name as clazzName
            from student st left join clazz c on st.clazz_id = c.id
            <where>
                <if test="name != null and name != ''">
                    st.name like concat('%',#{name},'%')
                </if>
                <if test="degree != null">
                    and st.degree = #{degree}
                </if>
                <if test="clazzId != null">
                    and st.clazz_id = #{clazzId}
                </if>
            </where>
        order by st.update_time desc
    </select>

<!--    根据id查询学生-->
    <select id="getStudentById" resultType="com.zhangxf.pojo.Student">
        select * from student where id = #{id}
    </select>
</mapper>